<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 


    <div class="about content">
        <h2>About Me</h2>
        <p>
            Nam tempus ultrices dignissim. Nunc non tellus a ligula 
            mollis bibendum ac ac dui. Duis sed libero id ligula 
            efficitur molestie.
        </p>
        <p>
            Quisque eu ligula lacus. Curabitur 
            at ipsum venenatis, laoreet eros ut, cursus dolor. 
        </p>
        <p>
            Vivamus ultricies eleifend quam non euismod. Pellentesque 
            cursus pulvinar fermentum.
        </p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>